* {
    padding: 0;
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    flex-direction: column;
}

body > * {
    margin-top: 20px;
}

body > button {
    padding: 5px;
    vertical-align: middle;
    background-color: #337AB7;
    color: #FFF;
    font-weight: bold;
    border: 2px solid #036;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > button span {
    margin: 0;
    padding: 0;
    width: auto;
}

.box {
    width: 40vw;
    border: 2px double #369;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box * {
    margin-bottom: 5px;
}

form {
    width: 100%;
}

form > div input[type="date"], form > div input[type="text"], form > div label{
    width: 100%;
}

form > div input[type="date"] {
    padding: 5px;
    width: 97%;
    font-size: 12pt;
}

label {
    font-weight: bold;
    font-size: 14pt;
}


.btn {
    display: flex;
    justify-content: space-around;
}

.btn button {
    width: 25%;
    height: 35px;
    background-color: #337AB7;
    color: #FFF;
    font-weight: bold;
    border: 2px solid #036;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    cursor: pointer;
    font-size: 12pt;
}

.result {
    padding-top: 10px;
    margin: 0;
}

.result p {
    vertical-align: middle;
    font-size: 10pt;
    cursor: pointer;
}

.result p span {
    font-weight: bold;
}

form#formUSG > div:last-child {
    display: flex;
}

form#formUSG > div:last-child div {
    width: 100%;
}

div#usg div:last-child > div input {
    padding: 5px;
    font-size: 12pt;
}